/*****************  erpnext page style  **************************/
.container.page-body{
	width : 95%  ; 
	max-width : 95%  ; 
}





/****************       generals       *****************/

.rowBox {
	display        : flex   ;
	flex-direction : row    ;
}

.align_center{
	align-items : center ;
}

.row_wrap{
	flex-wrap      : wrap   ;
}

.row_sbtw{
	justify-content: space-between;
}

.columnBox {
	display        : flex   ; 
	flex-direction : column ;
}

.C_A_Center{
	align-items    : center ; 
}



.centerItem{
	align-items    : center ; 
	justify-content: center ;
}


input{
	padding       : 0px 12px ;
	border        : none     ;
	background    : #eaeaea  ;
	border-radius : 10px     ;

}
input:focus{
	border  : none ;
	outline : none ;
}


.CartTitle{
	padding : 8px 0px 8px;
	color   : #404040 ;


	display: flex;
	align-items: center;  /* Vertically centers the h3 */
	justify-content: center;  /* Horizontally centers the h3 */
	margin: 0; /* Reset any default margin from h3 */

}

.xBtn{
	width  : 26px ;
	height : 26px ;
}
.xBtn:hover{
	width  : 30px ;
	height : 30px ;
}


/***********************************************************/


#MainContainer{
	height : 80vh ;
	width  : 100% ;
}


#LeftSection{

	height        : 100%  ;
	width         : 70%   ;
	padding       : 10px  ;

	order         : 1 ;


}


#RightSection{
	height      : 100% ;
	width       : 30%  ;
	padding     : 10px;

	order      : 2 ;
}


/******************************************************************/
/*********************left********************/


@keyframes mymove {
  0% {  opacity : 0 ;  }
  100%   {  opacity : 1; }
}

#LeftSection #SelectorBox{
	width     : 100% ;
	height    : 100% ;
	animation : mymove 1s  ;
	display   : block ;

	border        : 2px solid #c0c0c0 ;
	border-radius : 16px;
}


/*header*/
#LeftSection #SelectorBox .header{
	height         : 55px          ;
	padding        : 8px 16px      ;
	justify-content: space-between ;
}

#LeftSection #SelectorBox .header #ItemInput{
	margin : 0px 16px 0px 0px;
	width  : 350px;
}

#LeftSection #SelectorBox .header #ItemGroupInput{
	width  : 150px;
}

/*item container*/
#LeftSection #SelectorBox #itemsContainer {
	padding    : 16px ;
	border-radius : 0px 0px 16px 16px ; 

	flex          : 1      ; 
	overflow-y    : scroll ;
}


#LeftSection #SelectorBox #itemsContainer .itemBox {
	height     : 150px ;
	width      : 160px ;
	padding    : 4px   ;
	margin     : 5px 6px  ;
	border     : 2px solid #a0a0a0 ;
	border-radius : 12px ;
	background : #FFFFFF ;

}

#LeftSection #SelectorBox #itemsContainer .itemBox:hover {
	border     : 3px solid #a0a0a0 ;
	background : #F0F0F0 ;
}

#LeftSection #SelectorBox #itemsContainer .itemBox .itemImage{
	width  : calc(100% - 10px);
	height : 75%  ;
	margin : 10px 5px ;
	background : #e0e0e0 ;
	border        : none ;
	outline       : none ; 
	border-radius : 12px ;
}


/* item details cart */
#LeftSection #itemDetailsCart{
	width     : 100% ;
	height    : 100% ;
	animation : mymove 1s ;
	display   : none ;

	border        : 2px solid #c0c0c0 ;
	border-radius : 16px;
}

#LeftSection #itemDetailsCart #itemDetailsCartHeader{
	padding : 4px 16px 4px 16px ;
}


/************* right *****************/
#RightSection #CustomerBox{
	height : 55px  ;
	width  : 100%  ; 
	margin-bottom   : 5px    ;
	padding : 8px 0px ;


	animation : mymove 1.5s  ;

	border          : 2px solid #c0c0c0 ;
	border-radius   : 16px   ;

	
}

#RightSection #CustomerBox #CustomerInput{
	width   : 100% ;
	margin  : 0px 16px;
}


#RightSection #CustomerBox input:focus{
	border  : none ;
	outline : none ;
}

#RightSection #CartBox{
	width  : 100% ; 
	height : calc(100% - 55px) ;
	margin-top : 5px    ;
	padding    : 0px 0px 16px 0px ;

	animation : mymove 2s  ;

	border        : 2px solid #c0c0c0 ;
	border-radius : 16px;
	overFlow      : hidden; 	

	flex-grow     : 1;	
}

#RightSection #CartBox #CartBoxTopBar{
	width   : 100%;
	padding : 8px 16px ;
}

#RightSection #CartBox #CartBoxTopBar #PlriceListInput{
	height  : 30px ; 
}

/*** items container***/


#RightSection #CartBox #cartHeader{
	width   : calc(100% - 32px)  ;
	height  : 45px     ;
	margin  : 4px 16px ;
}

#RightSection #CartBox #cartHeader #quantityTitle{
	margin : 0px 16px 0px 0px ;
}

#RightSection #CartBox #selectedItemsContainer{	
	flex-grow : 1     ;
	overflow-y: scroll;
}

/* element  */
#RightSection #CartBox .ItemElement{
	width   : calc(100% - 32px)  ;
	height  : 60px     ;
	min-height : 60px  ;
	margin  : 4px 16px ;
	padding : 5px      ;

	/*animation : mymove 1s */

	border : 2px solid #707070 ;
	border-radius : 12px  ; 
}


#RightSection #CartBox .ItemElement:hover{
	border     : 3px solid #a0a0a0 ;
	background : #F0F0F0 ;
}

#RightSection #CartBox .ItemElement .selectedItemImage{
	width      : 50px ;
	height     : 50px ;
	margin     : 0px 16px 0px 5px  ;
	background : #e0e0e0 ;	
	border-radius : 12px ;
}

#RightSection #CartBox .ItemElement .selectedItemName{
	padding : 6px 0px 0px 0px  ; 
}

#RightSection #CartBox .ItemElement .itemQuantity{
	margin : 0px 16px 0px 0px ;
}

/*** footer ***/
#RightSection #CartBox #cartFooter{
	width  : 100%  ;
}



#RightSection #CartBox #cartDetails{
	width  : calc(100% - 32px) ;
	margin : 8px 16px ;
}

#RightSection #CartBox #cartDetails #discount{
	height : 30px  ;
	border : 1px dashed #c0c0c0 ;
	border-radius : 12px  ;
	margin : 4px 0px ;
	padding : 0px 16px ;
}
#RightSection #CartBox #cartDetails #discount:hover{
	background : #F0F0F0 ; 
}
#RightSection #CartBox #cartDetails #totalQuantity{
	height : 30px  ;
	margin : 4px 0px ;
	padding : 0px 16px ;
}
#RightSection #CartBox #cartDetails #netTotal{
	height : 30px  ;
	margin : 4px 0px ;
	padding : 0px 16px ;
}
#RightSection #CartBox #cartDetails #grandTotal{
	height : 30px  ;
	margin : 4px 0px ;
	padding : 0px 16px ;

	font-weight : 700 ;
	font-size : large ;
}

#checkoutBtn{

	width   : calc(100% - 32px)  ;
	margin  : 8px 16px 16px 16px ;
	
	color   : #FFFFFF  ;
	font-size: x-large;
	font-weight: 600;
	
	background : #ac6500 ;
	border  : 3px solid #6a3e00;
	border-radius : 8px  ;
	outline : none ;
}
#checkoutBtn:hover{
	border  : 4px solid #6a3e00;
	font-weight: 700;
}
