/****************       generals       *****************/
.rowBox {
	display        : flex ;
	flex-direction : row ;
}


.columnBox {
	display        : flex ;
	flex-direction : column ;
}




input{
	padding       : 8px 12px ;
	border        : none     ;
	background    : #eaeaea  ;
	border-radius : 12px     ;

}
input:focus{
	border  : none ;
	outline : none ;
}

/***********************************************************/


#MainContainer{
	height : 80vh ;
	width  : 100% ;
}


#LeftSection{

	height        : 100%  ;
	width         : 70%   ;
	padding       : 10px  ;

	order         : 1 ;

}


#RightSection{
	height      : 100% ;
	width       : 30%  ;
	padding     : 10px;

	order      : 2 ;
}


/******************************************************************/
/*********************left********************/
#LeftSection #SelectorBox{
	width  : 100% ; 
	height : 100% ;

	border        : 2px solid #c0c0c0 ;
	border-radius : 16px;

}



#LeftSection #SelectorBox .header{
	padding        : 8px 16px  ;
	justify-content: space-between;
}

#LeftSection #SelectorBox .header #ItemInput{
	margin : 0px 16px 0px 0px;
	width  : 350px;
}
#LeftSection #SelectorBox .header #ItemGroupInput{
	width  : 150px;
}








/************* right *****************/
#RightSection #CustomerBox{

	width  : 100%  ; 
	margin-bottom   : 5px    ;
	padding : 14px 0px ;

	border          : 2px solid #c0c0c0 ;
	border-radius   : 16px   ;

	
}

#RightSection #CustomerBox .CartTitle{
	padding : 0px 0px 0px 16px  ;
}

#RightSection #CustomerBox input{

	box-sizing: border-box;
	margin-left : 10px ;

	border        : none     ;
	background    : #eaeaea  ;
	padding       : 8px 12px ;
	border-radius : 12px     ;
}


#RightSection #CustomerBox input:focus{
	border  : none ;
	outline : none ;
}

#RightSection #CartBox{
	width  : 100% ; 
	margin-top : 5px   ;

	border        : 2px solid #c0c0c0 ;
	border-radius : 16px;
	
	flex-grow     : 1;	
}








.CartTitle{
	padding : 8px 0px 8px;
	color   : #404040 ;


	display: flex;
	align-items: center;  /* Vertically centers the h3 */
	justify-content: center;  /* Horizontally centers the h3 */
	margin: 0; /* Reset any default margin from h3 */

}
